@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:wght@200..900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.footer {
  width: 100%;
  background: #4c4a4a;
  border-top: 1px solid #000;
}
.footer__content {
  margin-top: 110px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}
@media (max-width: 1334.98px) {
  .footer__content {
    flex-direction: column-reverse;
    gap: 40px;
    margin-top: 40px;
  }
}
.footer__content--politic {
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 26px;
  font-weight: 400;
  line-height: 111.5384615385%;
  text-align: left;
}
@media (max-width: 500.98px) {
  .footer__content--politic {
    font-size: 5.4vw;
    text-align: center;
  }
}
.footer__content--links {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 934.98px) {
  .footer__content--links {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (max-width: 462.98px) {
  .footer__content--links {
    flex-direction: column-reverse;
  }
}
.footer__content--link {
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 0.43px solid rgb(0, 0, 0);
  border-radius: 21.3px;
  background: rgb(50, 49, 49);
  white-space: nowrap;
}

[class*=__container] {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=_container] {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #1e1e1e;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea,
select {
  outline: none;
}

body {
  font-family: Garamond;
  font-size: 32px;
}

body._lock {
  overflow: hidden;
}

.beModel__content--btn,
.casting__model--btn,
.form__btn,
.casting__btn {
  box-shadow: none;
  transition: box-shadow 0.3s;
  will-change: box-shadow;
}

.beModel__content--btn:hover,
.casting__model--btn:hover,
.form__btn:hover,
.casting__btn:hover {
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.3058823529);
}

.home__main {
  height: 100vh;
  overflow: hidden;
}
.home__main--video {
  position: relative;
  min-width: 100%;
  height: 100vh;
  -o-object-fit: fill;
     object-fit: fill;
}
.home__main--logo {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.home__main--links {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 55vw;
  display: flex;
  justify-content: space-between;
}
.home__main--links a {
  box-shadow: 0px 0px 30px 5px #fff;
  display: inline-block;
  padding: 6px 70px;
  min-width: 235px;
  height: 48px;
  box-sizing: border-box;
  border: 1.21px solid #0b0b0b;
  border-radius: 22.27px;
  background: #f6f3ec;
  text-transform: uppercase;
  color: #262626;
  font-family: Garamond;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 1024.98px) {
  .home__main--links {
    width: 80vw;
  }
  .home__main--links a {
    box-shadow: 0px 0px 20px 5px #fff;
  }
}
@media (max-width: 678.98px) {
  .home__main--logo img {
    max-width: 300px;
  }
  .home__main--links {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
.header {
  min-height: 156px;
  padding: 47px 0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__leftside {
  display: flex;
  gap: 70px;
}

.header__rightside {
  display: flex;
  gap: 70px;
}

.header__link {
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  color: rgb(254, 250, 239);
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
}

.burger__list {
  display: none;
}

.burger__menu {
  display: none;
  visibility: hidden;
}

.header__logotype {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
@media (max-width: 1024.98px) {
  .header__logotype {
    gap: 10px;
  }
}
@media (max-width: 579.98px) {
  .header__logotype {
    gap: 5px;
  }
}
.header__logotype span {
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 42px;
  font-weight: 400;
  line-height: 111.9047619048%;
  text-align: left;
  margin-right: 15px;
}
@media (max-width: 1024.98px) {
  .header__logotype span {
    font-size: 34px;
  }
}
@media (max-width: 579.98px) {
  .header__logotype span {
    font-size: 22px;
  }
}

@media (max-width: 1079.98px) {
  .header__leftside {
    gap: 30px;
  }
  .header__rightside {
    gap: 30px;
  }
}
@media (max-width: 1024.98px) {
  .header__link {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .header__content {
    position: relative;
    min-height: 62px;
  }
  .header__logotype {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .burger__menu {
    display: none;
    visibility: hidden;
  }
  .burger__list {
    display: block;
    position: relative;
    width: 36px;
    height: 20px;
    cursor: pointer;
  }
  .burger__list span:nth-child(1) {
    display: inline-block;
    height: 3px;
    background: rgb(254, 250, 239);
    transition: transform 0.4s;
    will-change: transform;
    position: absolute;
    width: 100%;
    top: 0;
    border-radius: 50%;
  }
  .burger__list span:nth-child(2) {
    display: inline-block;
    transition: scale 0.4s;
    will-change: scale;
    height: 3px;
    background: rgb(254, 250, 239);
    transform: translate(0, -50%);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    border-radius: 50%;
  }
  .burger__list span:nth-child(3) {
    display: inline-block;
    height: 3px;
    background: rgb(254, 250, 239);
    transform: translate(0);
    transition: all 0.4s;
    will-change: transform;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 50%;
  }
  .burger__list.open {
    transition: transform 0.3s;
  }
  .burger__list.open span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 4px);
  }
  .burger__list.open span:nth-child(2) {
    transform: scale(0);
  }
  .burger__list.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -4px);
  }
  .burger__menu {
    display: block;
    position: absolute;
    border-radius: 15px;
    width: 320px;
    height: 600px;
    z-index: 99;
    top: 85px;
    left: 0;
    transition: all 0.3s;
    transform: translateX(-120%);
    min-width: 320px;
    background: rgba(216, 215, 214, 0.9803921569);
    visibility: visible;
    padding: 60px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .burger__menu.open {
    transform: translateX(0%);
  }
  .burger__menu--link {
    font-family: Garamond;
    color: rgb(50, 49, 49);
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  .burger__menu--bottomBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .burger__menu--bottomBlock .burger__menu--image {
    padding: 2px 16px;
    background: #fefaef;
    box-sizing: border-box;
    border: 0.2px solid #3081b8;
    border-radius: 25px;
    background: #fefaef;
  }
}
@media (max-width: 579.98px) {
  .header {
    padding: 20px 0 0 0;
    min-height: 62px;
  }
  .header__logotype img {
    max-width: 200px;
  }
  .header__content {
    min-height: 28px;
  }
  .burger__list {
    width: 24px;
    height: 16px;
  }
  .burger__list span:nth-child(1) {
    height: 2px;
  }
  .burger__list span:nth-child(2) {
    height: 2px;
  }
  .burger__list span:nth-child(3) {
    height: 2px;
  }
  .burger__list.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 2px);
  }
  .burger__list.open span:nth-child(2) {
    transform: scale(0);
  }
  .burger__list.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -5px);
  }
  .burger__menu {
    top: 50px;
  }
}
@media (max-width: 430px) {
  .burger__menu {
    min-width: 102vw;
    height: 100vh;
    top: -20px;
    left: -20px;
    border-radius: 0px;
    z-index: 99;
  }
  .burger__list.open {
    z-index: 999;
  }
  .burger__list.open span:nth-child(1) {
    background: rgb(50, 49, 49);
  }
  .burger__list.open span:nth-child(2) {
    background: rgb(50, 49, 49);
  }
  .burger__list.open span:nth-child(3) {
    background: rgb(50, 49, 49);
  }
}
.show__main--about {
  display: flex;
  flex-direction: column;
  margin: 35px 0 140px 0;
  gap: 88px;
}
.show__main--about_image {
  min-width: 100vw;
  max-height: 495px;
  opacity: 0.8;
}
.show__main--subtitle {
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 36px;
  font-weight: 400;
  line-height: 113.8888888889%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.show__main--taskContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px 40px;
  grid-template-areas: "img1 text text" "text2 text2 img2" "img3 text3 text3";
  justify-items: start;
}
.show__main .item-1 {
  grid-area: img1;
}
.show__main .item-2 {
  grid-area: text;
}
.show__main .item-3 {
  grid-area: img2;
  float: right;
}
.show__main .item-4 {
  grid-area: text2;
}
.show__main .item-5 {
  grid-area: img3;
}
.show__main .item-6 {
  grid-area: text3;
}
.show__main--item {
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 32px;
  font-weight: 400;
  line-height: 112.5%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.show__main--item img {
  max-width: 280px;
  max-height: 280px;
}
.show__main--item:nth-child(3) {
  margin-left: 100px;
  float: right;
}

.show__main--about {
  margin-top: 115px;
  margin-bottom: 125px;
}

.parallax-container {
  height: 495px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1024.98px) {
  .parallax-container {
    height: 395px;
  }
}
@media (max-width: 768.98px) {
  .parallax-container {
    height: 295px;
  }
}
@media (max-width: 579.98px) {
  .parallax-container {
    height: 195px;
  }
}

.parallax-image {
  height: 100%;
  background-image: url("../../assets/img/showPage/topContentImage.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
}

@media (max-width: 1227.98px) {
  .show__main--about {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 32px;
  }
  .show__main--subtitle {
    font-size: 32px;
  }
}
@media (max-width: 1227.98px) and (max-width: 1024px) {
  .show__main--subtitle {
    font-size: 24px;
  }
}
@media (max-width: 1227.98px) and (max-width: 579.98px) {
  .show__main--subtitle {
    font-size: 18px;
  }
}
@media (max-width: 1080px) {
  .show__main--about {
    margin-bottom: 100px;
  }
  .show__main--item.item-2,
  .show__main--item.item-4,
  .show__main--item.item-6 {
    font-size: 26px;
  }
  .show__main--item img {
    max-width: 220px;
    max-height: 220px;
  }
}
@media (max-width: 846.98px) {
  .show__main--item.item-2,
  .show__main--item.item-4,
  .show__main--item.item-6 {
    font-size: 22px;
  }
  .show__main--item img {
    max-width: 220px;
    max-height: 220px;
  }
  .show__main--item:nth-child(3) {
    margin-left: 50px;
    float: right;
  }
}
@media (max-width: 679.98px) {
  .show__main--taskContent {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 160px 160px minmax(120px, 220px);
    gap: 0;
    row-gap: 20px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: end;
    grid-template-areas: "text text text" "text2 text2 text2" "text3 text3 text3" "img1 img2 img3";
  }
  .show__main--item:nth-child(3) {
    margin-left: 0px;
    float: right;
  }
  .show__main--item img {
    max-width: 220px;
    width: 100%;
  }
  .item-2 {
    grid-area: text;
    width: 96vw;
    position: relative;
  }
  .item-2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120px;
    top: -120px;
    left: 50px;
    background-image: url("../../assets/icon/mobileAboutImage1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left top;
  }
  .item-4 {
    grid-area: text2;
    width: 96vw;
    position: relative;
  }
  .item-4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    top: -60px;
    left: 30%;
    background-image: url("../../assets/icon/mobileAboutImage2.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left top;
  }
  .item-6 {
    grid-area: text3;
    width: 96vw;
    position: relative;
  }
  .item-6::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    top: -75px;
    right: 40px;
    background-image: url("../../assets/icon/mobileAboutImage3.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right top;
  }
  .show__main--taskContent {
    margin: 0 -15px;
  }
}
@media (max-width: 520.98px) {
  .show__main--item.item-2,
  .show__main--item.item-4,
  .show__main--item.item-6 {
    font-size: 18px;
  }
}
.show__main--casting {
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
  padding: 30px 30px 100px 30px;
  position: relative;
  z-index: 999;
}
.show__main--casting::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../../assets/img/castingPage/castingImage.jpeg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  filter: opacity(30%);
}
@media (max-width: 576.98px) {
  .show__main--casting {
    margin-bottom: 50px;
  }
}

.casting__title {
  text-transform: uppercase;
  text-align: center;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 48px;
  font-weight: 400;
  line-height: 112.5%;
  margin-bottom: 42px;
}
@media (max-width: 641.98px) {
  .casting__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.casting__subtitle {
  text-align: center;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 40px;
  font-weight: 400;
  line-height: 112.5%;
  margin-bottom: 50px;
}
@media (max-width: 641.98px) {
  .casting__subtitle {
    font-size: 22px;
  }
}
@media (max-width: 425px) {
  .casting__subtitle {
    font-size: 16px;
  }
}

input[type=date]:before {
  content: attr(placeholder);
  position: absolute;
  color: rgb(254, 250, 239);
  text-align: left;
}

input[type=date]:focus:before {
  content: none;
  position: absolute;
}

.casting__form {
  display: flex;
  flex-direction: column;
}
.casting__form--top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
@media (max-width: 1079.98px) {
  .casting__form--top {
    gap: 10px;
  }
}
@media (max-width: 576.98px) {
  .casting__form--top {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }
}
.casting__form--column {
  max-width: 513px;
}
.casting__form--column select {
  max-width: 513px;
  width: 100%;
  border-bottom: 2px solid #fefaef;
  background-color: transparent;
  padding-left: 20px;
  height: 36px;
  margin-bottom: 35px;
  cursor: pointer;
  font-family: Garamond;
  color: #fefaef;
  font-size: 32px;
  font-weight: 400;
  line-height: 112.5%;
  text-align: left;
}
@media (max-width: 1079.98px) {
  .casting__form--column select {
    font-size: 24px;
  }
}
@media (max-width: 761.98px) {
  .casting__form--column select {
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 16px;
  }
}
@media (max-width: 576.98px) {
  .casting__form--column select {
    text-align: center;
  }
}
.casting__form--column select option {
  background: #1e1e1e;
}
.casting__form--column input {
  max-width: 513px;
  width: 100%;
  border-bottom: 2px solid #fefaef;
  background-color: transparent;
  padding-left: 20px;
  height: 36px;
  font-family: Garamond;
  color: #fefaef;
  font-size: 32px;
  font-weight: 400;
  line-height: 112.5%;
  text-align: left;
}
@media (max-width: 1079.98px) {
  .casting__form--column input {
    font-size: 24px;
  }
}
@media (max-width: 761.98px) {
  .casting__form--column input {
    font-size: 18px;
    padding-left: 10px;
  }
}
@media (max-width: 576.98px) {
  .casting__form--column input {
    text-align: center;
  }
}
.casting__form--column input::-moz-placeholder {
  font-family: Garamond;
  color: #fefaef;
  font-size: 32px;
  font-weight: 400;
  line-height: 112.5%;
  text-align: left;
}
.casting__form--column input::placeholder {
  font-family: Garamond;
  color: #fefaef;
  font-size: 32px;
  font-weight: 400;
  line-height: 112.5%;
  text-align: left;
}
@media (max-width: 1079.98px) {
  .casting__form--column input::-moz-placeholder {
    font-size: 24px;
  }
  .casting__form--column input::placeholder {
    font-size: 24px;
  }
}
@media (max-width: 761.98px) {
  .casting__form--column input::-moz-placeholder {
    font-size: 20px;
  }
  .casting__form--column input::placeholder {
    font-size: 20px;
  }
}
@media (max-width: 576.98px) {
  .casting__form--column input::-moz-placeholder {
    text-align: center;
  }
  .casting__form--column input::placeholder {
    text-align: center;
  }
}
.casting__form--column input:not(:last-child) {
  margin-bottom: 35px;
}
@media (max-width: 761.98px) {
  .casting__form--column input:not(:last-child) {
    margin-bottom: 16px;
  }
}
.casting__form--column input:focus {
  background-color: transparent;
}
.casting__form--column input::-webkit-inner-spin-button,
.casting__form--column input ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.casting__form--column input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
.casting__form--imageForm {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
@media (max-width: 998.98px) {
  .casting__form--imageForm {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
}
@media (max-width: 576.98px) {
  .casting__form--imageForm {
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .casting__form--imageForm {
    gap: 10px;
  }
}
.casting__form--imageForm .imageForm__item {
  position: relative;
  width: 180px;
  height: 240px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 600.98px) {
  .casting__form--imageForm .imageForm__item {
    width: 140px;
    height: 180px;
  }
}
.casting__form--imageForm .imageForm__item:nth-child(1) {
  background-image: url("../../assets/img/showPage/main/anfas.png");
}
.casting__form--imageForm .imageForm__item:nth-child(2) {
  background-image: url("../../assets/img/showPage/main/profil.png");
}
.casting__form--imageForm .imageForm__item:nth-child(3) {
  background-image: url("../../assets/img/showPage/main/quatro.png");
}
.casting__form--imageForm .imageForm__item:nth-child(4) {
  background-image: url("../../assets/img/showPage/main/fullHeightImage.png");
}
.casting__form--imageForm .imageForm__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgb(38, 38, 38);
  background: rgba(250, 246, 237, 0.6);
}
.casting__form--imageForm .imageForm__item::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 66px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url("../../assets/img/showPage/main/AddPhoto.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 20;
}
@media (max-width: 600.98px) {
  .casting__form--imageForm .imageForm__item::after {
    width: 48px;
    height: 46px;
    background-size: contain;
  }
}
.casting__form--imageForm .imageForm__item input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  cursor: pointer;
}
.casting__form--imageForm .imageForm__item span {
  position: absolute;
  width: 162px;
  bottom: 24px;
  right: 50%;
  transform: translate(50%, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 1;
  z-index: 20;
  font-family: Garamond;
  color: rgb(29, 28, 28);
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  text-align: center;
}
.casting__form--imageForm .imageForm__item span strong {
  font-weight: 700;
}
@media (max-width: 600.98px) {
  .casting__form--imageForm .imageForm__item span {
    font-size: 16px;
    width: 148px;
  }
}

.form__btn {
  display: block;
  text-transform: uppercase;
  margin: 0 auto;
  width: 472px;
  margin-top: 100px;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 48px;
  font-weight: 400;
  line-height: 112.5%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  background: rgb(50, 49, 49);
  padding: 23px 40px;
  white-space: nowrap;
}
@media (max-width: 546.98px) {
  .form__btn {
    width: 100%;
    font-size: 8vw;
    padding: 10px 20px;
  }
}

.about__image img {
  min-width: 100vw;
  height: 495px;
}
@media (max-width: 1240.98px) {
  .about__image img {
    height: 395px;
  }
}
@media (max-width: 1024.98px) {
  .about__image img {
    height: 295px;
  }
}
@media (max-width: 576.98px) {
  .about__image img {
    height: 128px;
  }
}

.show__main--contacts {
  margin-top: 162px;
  margin-bottom: 73px;
}
@media (max-width: 1024.98px) {
  .show__main--contacts {
    margin-top: 120px;
    margin-bottom: 50px;
  }
}
@media (max-width: 679.98px) {
  .show__main--contacts {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
@media (max-width: 495px) {
  .show__main--contacts {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.show__main--contacts .title {
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 48px;
  font-weight: 400;
  line-height: 112.5%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 106px;
}
@media (max-width: 1024.98px) {
  .show__main--contacts .title {
    margin-bottom: 80px;
    font-size: 42px;
  }
}
@media (max-width: 576.98px) {
  .show__main--contacts .title {
    margin-bottom: 40px;
    font-size: 28px;
  }
}
.show__main--contacts .contacts__grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(2, 240px);
  row-gap: 69px;
}
@media (max-width: 1056.98px) {
  .show__main--contacts .contacts__grid {
    justify-content: center;
    grid-template-columns: repeat(1, 500px);
    grid-template-rows: repeat(4, 240px);
    row-gap: 45px;
  }
}
@media (max-width: 546.98px) {
  .show__main--contacts .contacts__grid {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(4, 180px);
    row-gap: 45px;
  }
}
.show__main--contacts .contacts__grid--item {
  max-height: 240px;
  display: flex;
  gap: 38px;
}
@media (max-width: 546.98px) {
  .show__main--contacts .contacts__grid--item {
    gap: 20px;
  }
}
.show__main--contacts .contacts__grid--item img {
  border-radius: 10px;
}
@media (max-width: 546.98px) {
  .show__main--contacts .contacts__grid--item img {
    max-height: 180px;
  }
}
.show__main--contacts .contacts__grid--item .grid__text {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 24px;
  font-weight: 700;
  line-height: 112.5%;
}
@media (max-width: 546.98px) {
  .show__main--contacts .contacts__grid--item .grid__text {
    font-size: 16px;
  }
}
.show__main--contacts .contacts__grid--item .grid__text span {
  text-align: center;
  text-transform: capitalize;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 24px;
  font-weight: 400;
  line-height: 112.5%;
}
@media (max-width: 546.98px) {
  .show__main--contacts .contacts__grid--item .grid__text span {
    font-size: 16px;
  }
}
.show__main--contacts .contacts__grid--item .grid__text:not(:last-child) {
  margin-bottom: 17px;
}
.show__main--contacts .contacts__grid--item .grid__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.show__main--contacts .contacts__grid--item .grid__block p {
  text-transform: uppercase;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 26px;
  font-weight: 700;
  line-height: 111.5384615385%;
  text-align: left;
}
@media (max-width: 546.98px) {
  .show__main--contacts .contacts__grid--item .grid__block p {
    font-size: 20px;
  }
}
.show__main--contacts .contacts__grid--item .grid__block span {
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 24px;
  font-weight: 400;
  line-height: 120.8333333333%;
  text-align: left;
}
@media (max-width: 546.98px) {
  .show__main--contacts .contacts__grid--item .grid__block span {
    font-size: 16px;
  }
}
.show__main--contacts .contacts__grid--item .grid__block a {
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 24px;
  font-weight: 400;
  line-height: 120.8333333333%;
  text-align: left;
}
@media (max-width: 546.98px) {
  .show__main--contacts .contacts__grid--item .grid__block a {
    font-size: 16px;
  }
}
.show__main--contacts .contacts__grid .grid__blocktext {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1056.98px) {
  .show__main--contacts .contacts__grid .grid__blocktext {
    order: 4;
  }
}

.grid__blocktext.contacts__grid--item {
  gap: 10px;
  justify-content: flex-start;
}

.instaLink {
  display: flex;
  justify-content: center;
  gap: 13px;
  align-items: center;
}
.instaLink img {
  max-width: 45px;
}
@media (max-width: 546.98px) {
  .instaLink img {
    max-width: 22px;
  }
}
.instaLink span {
  font-family: Garamond;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  line-height: 112.5%;
  text-align: center;
}
@media (max-width: 546.98px) {
  .instaLink span {
    font-size: 16px;
  }
}

.header__casting {
  position: relative;
  margin-top: 50px;
  margin-bottom: 120px;
  cursor: pointer;
}
@media (max-width: 549.98px) {
  .header__casting {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}
.header__casting--logo {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
}
.header__casting--logo span {
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: uppercase;
}
@media (max-width: 549.98px) {
  .header__casting--logo span {
    font-size: 24px;
  }
}
.header__casting--logo img {
  max-width: 254px;
}

@media (max-width: 549.98px) {
  .casting__btn {
    margin-top: 0;
  }
}
.header__casting_content {
  justify-content: space-between;
}
@media (max-width: 579.98px) {
  .header__casting_content {
    margin-bottom: 60px;
  }
}

.casting__ls {
  flex: 0 0 auto;
  display: flex;
  gap: 70px;
}

.casting__logoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;
}
.casting__logoBlock img {
  max-width: 254px;
}
@media (max-width: 579.98px) {
  .casting__logoBlock img {
    max-width: 180px;
  }
}
.casting__logoBlock span {
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 43px;
  font-weight: 400;
  line-height: 113.9534883721%;
  text-align: center;
  margin-left: -5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 579.98px) {
  .casting__logoBlock span {
    font-size: 30px;
    margin-left: 5px;
  }
}

.casting__main {
  margin-top: 60px;
}

.feedNews__maquee {
  display: flex;
  overflow-x: hidden;
  gap: 20px;
  margin-left: -50px;
  position: relative;
  box-shadow: 0px 0px 40px 20px rgba(255, 255, 255, 0.4274509804);
  background: rgba(255, 255, 255, 0.3725490196);
}
.feedNews__maquee span {
  width: 100%;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 40px;
  font-weight: 700;
  line-height: 112.5%;
  animation: marquee 10s infinite linear;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.feedNews__sliderBlock {
  position: relative;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 1575.98px) {
  .feedNews__sliderBlock {
    gap: 20px;
    justify-content: center;
  }
}
.feedNews__sliderBlock .slide__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -80px;
  transform: translate(0, -50%);
}
@media (max-width: 1575.98px) {
  .feedNews__sliderBlock .slide__arrow {
    left: 30px;
  }
}
@media (max-width: 1300px) {
  .feedNews__sliderBlock .slide__arrow {
    display: none;
    visibility: hidden;
  }
}
.feedNews__sliderBlock .right__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -80px;
  transform: translate(0, -50%) rotate(180deg);
}
@media (max-width: 1575.98px) {
  .feedNews__sliderBlock .right__arrow {
    right: 30px;
  }
}
@media (max-width: 1300px) {
  .feedNews__sliderBlock .right__arrow {
    display: none;
    visibility: hidden;
  }
}
.feedNews__sliderBlock--slide figcaption {
  margin-top: 8px;
  text-align: center;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 24px;
  font-weight: 400;
  line-height: 112.5%;
  text-transform: uppercase;
}

.slide-pagination {
  display: none;
}
@media (max-width: 1300px) {
  .slide-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
  }
  .slide-pagination span {
    padding-top: 12%;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    background: rgb(254, 250, 239);
  }
  .slide-pagination span:nth-child(1) {
    opacity: 0.2;
    width: 20px;
    height: 10px;
    padding-top: 6%;
  }
  .slide-pagination span:nth-child(2) {
    opacity: 0.6;
    width: 30px;
    height: 20px;
    padding-top: 8%;
  }
  .slide-pagination span:nth-child(4) {
    opacity: 0.6;
    width: 30px;
    height: 20px;
    padding-top: 8%;
  }
  .slide-pagination span:nth-child(5) {
    opacity: 0.2;
    width: 20px;
    height: 10px;
    padding-top: 6%;
  }
}

.beModel__content {
  position: relative;
}
.beModel__content--image {
  filter: blur(5px);
  min-width: 100vw;
  max-height: 374px;
}
.beModel__content--btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.3294117647);
  padding: 12px 10px;
  box-sizing: border-box;
  border: 1.21px solid rgb(11, 11, 11);
  border-radius: 22.27px;
  background: rgb(246, 243, 236);
}
.beModel__content--btn span {
  text-transform: uppercase;
  font-family: Garamond;
  color: rgb(50, 49, 49);
  font-size: 32px;
  font-weight: 400;
  line-height: 112.5%;
  text-align: center;
}
.beModel__content--btn img {
  max-width: 175px;
}

.beModel--aboutTitle {
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 45px;
  font-weight: 400;
  line-height: 113.3333333333%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

.castingAbout__text {
  text-align: center !important;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.casting__model {
  margin: 100px 0;
}
.casting__model--btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 174px;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  border-radius: 6.93px;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
  font-family: Garamond;
  color: rgb(50, 49, 49);
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  background: rgb(254, 250, 239);
  margin-top: 80px;
  padding: 6px 8px;
}

.casting__model .title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 45px;
  font-weight: 400;
  line-height: 113.3333333333%;
  margin-bottom: 75px;
}

.addVideo {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  background-image: url("../../assets/img/showPage/main/01.jpeg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}
.addVideo__title {
  text-align: center;
  text-transform: uppercase;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 34px;
  font-weight: 400;
  line-height: 111.7647058824%;
}

.itemVideo {
  background-image: none !important;
  box-sizing: border-box;
  border: 1.11px solid rgb(13, 13, 13);
  border-radius: 11.06px;
  box-shadow: 0px 4.42px 11.06px 0px rgba(0, 0, 0, 0.25);
}
.itemVideo p {
  position: absolute;
  width: 179px;
  bottom: 40px;
  right: 50%;
  transform: translate(50%, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 1;
  z-index: 20;
  font-family: Garamond;
  color: rgb(50, 49, 49);
  font-size: 16px;
  font-weight: 700;
  line-height: 131.25%;
  text-transform: uppercase;
  text-align: center;
}

.models__header {
  padding: 50px 0;
  position: relative;
}
.models__header--back {
  position: absolute;
  top: 70px;
  left: 40px;
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 24px;
  font-weight: 400;
  line-height: 112.5%;
  text-align: left;
}

.main__models {
  margin-bottom: 100px;
}
.main__models--gridContent {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, minmax(150px, 400px));
  justify-content: space-around;
}
.main__models--item {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background: transparent;
}
.main__models--item img {
  max-width: 400px;
  width: 100%;
}
.main__models--item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(254, 250, 239, 0.6);
  -webkit-transition: all 0.3s ease;
  z-index: 1;
}
.main__models--desc {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(270px) translate(-50%, 0);
  transition: all 0.5s ease 0s;
  white-space: nowrap;
  overflow: visible;
  z-index: 999;
}
.main__models--desc p {
  font-family: Garamond;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 114.2857142857%;
  text-align: left;
}
.main__models--desc p:nth-child(1) {
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}
.main__models--desc p:not(:nth-child(1)) {
  margin-left: 30px;
}

.main__models--item:hover .main__models--desc {
  transform: translateY(-80px) translate(-50%, 0);
}
.main__models--item:hover .main__models--desc p {
  color: black;
}

.modelInfo__wrapper {
  height: 100vh !important;
}

.main__modelInfo {
  overflow: hidden;
  overflow-y: scroll;
}
.main__modelInfo::-webkit-scrollbar {
  width: 0;
}
.main__modelInfo--content {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  position: relative;
  gap: 100px;
}
.main__modelInfo--leftside .leftside__desc {
  margin-top: 50px;
  position: sticky;
  top: 50px;
}
.main__modelInfo--leftside .leftside__desc p {
  text-align: left;
}
.main__modelInfo--leftside .leftside__desc p:nth-child(1) {
  font-family: Garamond;
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 112.5%;
  margin-bottom: 70px;
  max-width: 200px;
}
.main__modelInfo--leftside .leftside__desc p:not(:nth-child(1)) {
  font-family: Garamond;
  color: white;
  font-size: 28px;
  font-weight: 400;
  line-height: 117.8571428571%;
  text-align: left;
}
.main__modelInfo--leftside .instaBlock {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 56px;
}
.main__modelInfo--leftside .instaBlock span {
  font-family: Garamond;
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 112.5%;
}
.main__modelInfo--rightside {
  flex: 0 1 960px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.main__modelInfo--rightside img {
  cursor: pointer;
}

.model__footer {
  margin-top: 70px;
}

.fullImage__content {
  max-height: 100vh;
  position: relative;
  min-width: 90vw;
  margin-top: 60px;
}
.fullImage__content--paginate {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
  font-family: Garamond;
  color: white;
  font-size: 36px;
  font-weight: 400;
  line-height: 113.8888888889%;
}
.fullImage__content--toolbar {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  margin-left: 46%;
  overflow: visible;
}
.fullImage__content--toolbar img {
  max-width: 120px;
  max-height: 170px;
  border-radius: 10px;
  cursor: pointer;
}
.fullImage__content .fullImage {
  display: block;
  margin: 0 auto;
  width: 480px;
}

.close__content {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  top: 40%;
  left: 5%;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translate(0, -40%);
  transform: rotate(180deg);
  cursor: pointer;
}

.aboutUs__main {
  margin: 100px 0;
}
.aboutUs__main--taskContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px 40px;
  grid-template-areas: "image1 title1 title1" "title2 title2 image2" "image3 title3 title3";
  justify-items: start;
}
.aboutUs__main--taskContent .about-1 {
  grid-area: image1;
}
.aboutUs__main--taskContent .about-2 {
  grid-area: title1;
}
.aboutUs__main--taskContent .about-3 {
  grid-area: image2;
  float: right;
}
.aboutUs__main--taskContent .about-4 {
  grid-area: title2;
  text-align: right;
}
.aboutUs__main--taskContent .about-5 {
  grid-area: image3;
}
.aboutUs__main--taskContent .about-6 {
  grid-area: title3;
}
.aboutUs__main--item {
  font-family: Garamond;
  color: rgb(254, 250, 239);
  font-size: 32px;
  font-weight: 400;
  line-height: 112.5%;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.aboutUs__main--item img {
  max-width: 280px;
  max-height: 280px;
}
.aboutUs__main--item:nth-child(3) {
  margin-left: 100px;
  float: right;
}

@media (max-width: 1080px) {
  .aboutUs__main--about {
    margin-bottom: 100px;
  }
  .aboutUs__main--item.about-2,
  .aboutUs__main--item.about-4,
  .aboutUs__main--item.about-6 {
    font-size: 26px;
  }
  .aboutUs__main--item img {
    max-width: 220px;
    max-height: 220px;
  }
}
@media (max-width: 846.98px) {
  .aboutUs__main--item.about-2,
  .aboutUs__main--item.about-4,
  .aboutUs__main--item.about-6 {
    font-size: 22px;
  }
  .aboutUs__main--item img {
    max-width: 220px;
    max-height: 220px;
  }
  .aboutUs__main--item:nth-child(3) {
    margin-left: 50px;
    float: right;
  }
  .aboutUs__main {
    margin: 30px 0;
  }
}
@media (max-width: 679.98px) {
  .aboutUs__main--taskContent {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px minmax(120px, 140px);
    gap: 0;
    row-gap: 20px;
    grid-auto-flow: row;
    justify-items: center;
    grid-template-areas: "title1 title1 title1" "title2 title2 title2" "title3 title3 title3" "image1 image2 image3";
  }
  .aboutUs__main--item:nth-child(3) {
    margin-left: 0px;
    float: right;
  }
  .aboutUs__main--item img {
    max-width: 220px;
    width: 100%;
  }
  .about-2 {
    grid-area: title1;
    width: 96vw;
  }
  .about-4 {
    grid-area: title2;
    width: 96vw;
  }
  .about-6 {
    grid-area: title3;
    width: 96vw;
  }
  .aboutUs__main--taskContent {
    margin: 0 -15px;
  }
}
@media (max-width: 520.98px) {
  .aboutUs__main--item.about-2,
  .aboutUs__main--item.about-4,
  .aboutUs__main--item.about-6 {
    font-size: 18px;
  }
}