@import "../components/ui";
@import "../components/mixins";

//=======================================================================

.header__casting {
	position: relative;
	margin-top: 50px;
	margin-bottom: 120px;
	cursor: pointer;
	&--logo {
		display: flex;
		flex-direction: column;
		gap: 14px;
		justify-content: center;
		align-items: center;
		h2 {
			@include textDefault($ff1, rgb(254, 250, 239), 64px, 400, 72px);
			text-align: center;
			user-select: none;
		}
		img {
			max-width: 254px;
		}
	}
}
