@import "../components/ui";
@import "../components/mixins";

//=======================================================================

.header__casting {
	position: relative;
	margin-top: 50px;
	margin-bottom: 120px;
	@media (max-width: 549.98px) {
		margin-top: 20px;
		margin-bottom: 60px;
	}
	cursor: pointer;
	&--logo {
		display: flex;
		flex-direction: column;
		gap: 14px;
		justify-content: center;
		align-items: center;
		span {
			@include textDefault($ff1, rgb(254, 250, 239), 48px, 400, 48px);
			text-align: center;
			user-select: none;
			text-transform: uppercase;
			@media (max-width: 549.98px) {
				font-size: 24px;
			}
		}
		img {
			max-width: 254px;
		}
	}
}
@media (max-width: 549.98px) {
	.casting__btn {
		margin-top: 0;
	}
}
