@import "../components/ui";
@import "../components/mixins";

//=======================================================================

.modelInfo__wrapper {
	height: 100%;
	@media (max-width: 820.98px) {
		height: auto;
	}
}

.main__modelInfo {
	overflow: hidden;
	overflow-y: scroll;
	flex: 1 1 auto;
	&::-webkit-scrollbar {
		width: 0;
	}
	@media (max-width: 820.98px) {
		margin: 30px 0;
	}
	&--content {
		@include flexbox;
		justify-content: space-between;
		min-height: 100%;
		position: relative;
		gap: 100px;
		@media (max-width: 820.98px) {
			display: block;
		}
	}
	&--leftside {
		.leftside__desc {
			margin-top: 50px;
			position: sticky;
			top: 50px;
			@media (max-width: 820.98px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-bottom: 30px;
			}
			p {
				text-align: left;
				&:nth-child(1) {
					@include textDefault($ff1, white, 32px, 700, 36px);
					margin-bottom: 70px;
					text-align: left;
					max-width: 200px;
					@media (max-width: 1291.98px) {
						margin-bottom: 40px;
					}
					@media (max-width: 820.98px) {
						max-width: 100%;
					}
					@media (max-width: 555px) {
						text-align: center;
					}
				}
				&:not(:nth-child(1)) {
					@include textDefault($ff1, white, 28px, 400, 33px);
					text-align: left;
				}
			}
		}
		.instaBlock {
			@include flexbox;
			gap: 15px;
			align-items: center;
			margin-top: 56px;
			span {
				@include textDefault($ff1, white, 24px, 400, 27px);
			}
			@media (max-width: 1291.98px) {
				margin-top: 40px;
			}
		}
	}
	&--rightside {
		flex: 0 1 960px;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		@media (max-width: 820.98px) {
			display: grid;
			grid-template-columns: repeat(3, minmax(80px, 400px));
		}
		@media (max-width: 560px) {
			grid-template-columns: repeat(2, minmax(80px, 400px));
		}
		a img {
			max-width: 240px;
			height: 320px;
			object-fit: cover;
			cursor: pointer;
			@media (max-width: 820.98px) {
				max-width: 262px;
				width: 100%;
				height: 100%;
			}
		}
	}
}
@media (max-width: 1024.98px) {
	.modelInfo__logo {
		margin-top: 40px;
	}
}
@media (max-width: 480px) {
	.modelInfo__logo {
		margin-top: 60px;
	}
}

.models__header {
	padding: 50px 0;
	position: relative;
	&--back {
		position: absolute;
		text-transform: uppercase;
		top: 70px;
		left: 60px;
		@include textDefault($ff1, rgb(254, 250, 239), 24px, 400, 27px);
		text-align: left;
		@media (max-width: 1024.98px) {
			top: 40px;
		}
		@media (max-width: 480px) {
			top: 20px;
			left: 30px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: -20px;
			background-image: url("../../assets/icon/min-arrow.svg");
			background-position: left center;
			background-repeat: no-repeat;
			background-size: auto;
		}
	}
}

//=======================================================================

.model__footer {
	margin-top: 70px;
}

.fancybox-fullscreen {
	width: 100vw !important;
	height: 100vh !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fancybox__container {
	min-width: 100vw;
}

.fancybox__backdrop {
	min-width: 100vw;
}

.fancybox__thumbs {
	--f-thumb-width: 120px !important;
	--f-thumb-height: 170px !important;
}

.fancybox-image {
	height: 90% !important;
}

.leftside__desc p:first-child {
	text-transform: uppercase;
}

//=======================================================================

.participant__main {
	margin-bottom: 80px;
	.participant__content {
		.participant__grid {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(4, minmax(80px, 320px));
			justify-content: space-around;
			@media (max-width: 1050px) {
				grid-template-columns: repeat(3, minmax(80px, 320px));
				gap: 10px;
			}
			@media (max-width: 560px) {
				grid-template-columns: repeat(2, minmax(80px, 320px));
				gap: 10px;
			}
			@media (max-width: 435px) {
				gap: 5px;
			}
			&--item {
				img {
					width: 100%;
					max-width: 320px;
					object-fit: cover;
				}
				span {
					@include flexbox;
					justify-content: center;
					text-align: center;
					@include textDefault($ff1, white, 2vw, 400, 2vw);
					text-transform: uppercase;
					margin-top: 5px;
					@media (max-width: 1000px) {
						font-size: 3vw;
					}
					@media (max-width: 560px) {
						font-size: 6vw;
					}
				}
			}
		}
	}
}
