@import "../components/ui";
@import "../components/mixins";

//=======================================================================

.main__models {
	&--gridContent {
		margin-bottom: 100px;
		@media (max-width: 580px) {
			margin-top: 60px;
		}
		display: grid;
		grid-gap: 40px;
		grid-template-columns: repeat(3, minmax(80px, 400px));
		justify-content: space-around;
		@media (max-width: 560px) {
			grid-template-columns: repeat(2, minmax(80px, 400px));
			gap: 20px;
		}
		@media (max-width: 435px) {
			gap: 10px;
		}
	}
	&--item {
		position: relative;
		overflow: hidden;
		display: inline-block;
		background: transparent;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:hover::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(254, 250, 239, 0.6);
			-webkit-transition: all 0.3s ease;
			z-index: 1;
		}
	}
	&--desc {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateY(85%) translate(-50%, 0);
		transition: all 0.5s ease 0s;
		white-space: nowrap;
		overflow: visible;
		z-index: 999;

		p {
			@include textDefault($ff1, #fff, 28px, 400, 32px);
			text-align: left;
			@media (max-width: 1140.98px) {
				font-size: 2.5vw;
			}
			@media (max-width: 560px) {
				font-size: 4vw;
			}
			&:nth-child(1) {
				font-weight: 700;
				margin-bottom: 50px;
				text-align: center;
				@media (max-width: 630px) {
					margin-bottom: 20px;
				}
			}
			&:not(:nth-child(1)) {
				margin-left: 30px;
				@media (max-width: 630px) {
					margin-left: 20px;
				}
				@media (max-width: 435px) {
					margin-left: 10px;
				}
			}
		}
	}
}

.main__models--item:hover .main__models--desc {
	transform: translateY(-20%) translate(-50%, 0);

	p {
		color: black;
	}
}

//=======================================================================

.pagination {
	margin-bottom: 50px;
	@media (max-width: 580px) {
		margin-top: 60px;
	}
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 0 10px;
	@media (max-width: 520px) {
		gap: 10px;
	}
	button {
		background-color: transparent;
		padding: 10px;
		border: 1px solid #fff;
		border-radius: 15px;
		transition:
			background-color 0.4s,
			transform 0.3s,
			color 0.4s;
		cursor: pointer;
		box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
		will-change: background-color, color, transform;
		@include textDefault($ff1, #fff, 34px, 400, 44px);
		@media (max-width: 520px) {
			@include textDefault($ff1, #fff, 24px, 400, 24px);
		}
		@media (max-width: 425px) {
			font-size: 18px;
		}
		&:not(:disabled):active {
			transform: translateY(5%);
			box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
		}
		&:not(:disabled):hover {
			background-color: white;
			color: #000;
		}
		&:disabled {
			opacity: 0.2;
		}
	}
	span {
		@include textDefault($ff1, #fff, 34px, 400, 44px);
		@media (max-width: 520px) {
			@include textDefault($ff1, #fff, 24px, 400, 24px);
		}
		@media (max-width: 425px) {
			font-size: 18px;
		}
	}
}
