@import "../components/ui";
@import "../components/mixins";

//=======================================================================
.header {
	min-height: 156px;
	padding: 47px 0;
}
.header__content {
	display: flex;
	align-items: center;
}

.header__leftside {
	flex: 1 1 100%;
}
.header__logotype {
	margin-right: 15%;
}
.header__rightside {
	display: flex;
	gap: 70px;
}
.header__link {
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	color: rgb(254, 250, 239);
	font-size: 24px;
	font-weight: 400;
	line-height: 27px;
}

//=======================================================================

.show__main {
	&--about {
		display: flex;
		flex-direction: column;
		margin: 35px 0 140px 0;
		gap: 88px;
		&_image {
			min-width: 100vw;
			max-height: 495px;
			opacity: 0.8;
		}
	}
	&--subtitle {
		@include textDefault($ff1, rgb(254, 250, 239), 36px, 400, 41px);
		text-align: center;
		user-select: none;
	}
	&--taskContent {
		@include flexbox;
		flex-direction: column;
		gap: 20px;
	}
	&--item {
		@include flexbox;
		align-items: center;
		justify-content: space-between;
		gap: 90px;
		img {
			max-width: 280px;
			max-height: 280px;
		}
		p {
			@include textDefault($ff1, rgb(254, 250, 239), 32px, 400, 36px);
			text-align: center;
			user-select: none;
		}
	}
}

//=======================================================================

.show__main--casting {
	@include flexbox;
	flex-direction: column;
	margin-bottom: 160px;
}
.casting__title {
	text-transform: uppercase;
	text-align: center;
	@include textDefault($ff1, rgb(254, 250, 239), 48px, 400, 54px);
	margin-bottom: 42px;
}
.casting__subtitle {
	text-align: center;
	@include textDefault($ff1, rgb(254, 250, 239), 40px, 400, 45px);
	margin-bottom: 50px;
}
input[type="date"]:before {
	content: attr(placeholder);
	position: absolute;
	color: rgb(254, 250, 239);
	text-align: left;
}
input[type="date"]:focus:before {
	content: none;
	position: absolute;
}
.casting__form {
	@include flexbox;
	flex-direction: column;
	&--top {
		@include flexbox;
		justify-content: space-between;
		margin-bottom: 64px;
	}
	&--column {
		max-width: 513px;
		input {
			max-width: 513px;
			width: 100%;
			border-bottom: 2px solid rgb(254, 250, 239);
			background-color: transparent;
			padding-left: 20px;
			height: 36px;
			@include textDefault($ff1, rgb(254, 250, 239), 32px, 400, 36px);
			text-align: left;
			&::placeholder {
				@include textDefault($ff1, rgb(254, 250, 239), 32px, 400, 36px);
				text-align: left;
			}
			&:not(:last-child) {
				margin-bottom: 35px;
			}
			&:focus {
				background-color: transparent;
			}
			&::-webkit-inner-spin-button,
			::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			&::-webkit-calendar-picker-indicator {
				cursor: pointer;
			}
		}
	}
	&--imageForm {
		@include flexbox;
		margin-bottom: 110px;
		justify-content: space-between;
		cursor: pointer;
		.imageForm__item {
			position: relative;
			width: 180px;
			height: 240px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			&:nth-child(1) {
				background-image: url("../../assets/img/showPage/main/anfas.png");
			}
			&:nth-child(2) {
				background-image: url("../../assets/img/showPage/main/profil.png");
			}
			&:nth-child(3) {
				background-image: url("../../assets/img/showPage/main/quatro.png");
			}
			&:nth-child(4) {
				background-image: url("../../assets/img/showPage/main/fullHeightImage.png");
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				border-radius: 10px;
				box-shadow: 0px 4px 10px 0px rgb(38, 38, 38);
				background: rgba(250, 246, 237, 0.6);
			}
			&::after {
				content: "";
				position: absolute;
				width: 58px;
				height: 66px;
				top: 40%;
				left: 50%;
				transform: translate(-50%, 0);
				background-image: url("../../assets/img/showPage/main/AddPhoto.svg");
				background-position: center center;
				background-repeat: no-repeat;
				background-size: auto;
				z-index: 20;
			}
			input {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 999;
				opacity: 0;
				cursor: pointer;
			}
			span {
				position: absolute;
				width: 162px;
				bottom: 24px;
				right: 50%;
				transform: translate(50%, 0);
				display: flex;
				flex-direction: column;
				text-align: center;
				opacity: 1;
				z-index: 20;
				@include textDefault($ff1, rgb(29, 28, 28), 20px, 400, 23px);
				text-align: center;
				strong {
					font-weight: 700;
				}
			}
		}
	}
}
.form__btn {
	display: block;
	text-transform: uppercase;
	margin: 0 auto;
	width: 472px;
	@include textDefault($ff1, rgb(254, 250, 239), 48px, 400, 54px);
	text-align: center;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 50px;
	background: rgb(50, 49, 49);
	padding: 23px 40px;
	white-space: nowrap;
}
.about__image img {
	min-width: 100vw;
	height: 495px;
}
.parallax-container {
	height: 495px;
	overflow: hidden;
	position: relative;
}
.parallax-image {
	height: 100%;
	background-image: url("../../assets/img/showPage/topContentImage.jpeg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	opacity: 0.8;
}

//=======================================================================

.show__main {
	&--contacts {
		margin-top: 162px;
		margin-bottom: 73px;
		.title {
			@include textDefault($ff1, rgb(254, 250, 239), 48px, 400, 54px);
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 106px;
		}
		.contacts__grid {
			display: grid;
			justify-content: space-between;
			grid-template-columns: repeat(2, 500px);
			grid-template-rows: repeat(2, 240px);
			row-gap: 69px;
			&--item {
				max-height: 240px;
				@include flexbox;
				gap: 38px;
				img {
					border-radius: 10px;
				}
				.grid__text {
					display: block;
					text-align: center;
					text-transform: uppercase;
					@include textDefault($ff1, rgb(254, 250, 239), 24px, 700, 27px);
					span {
						text-align: center;
						text-transform: capitalize;
						@include textDefault($ff1, rgb(254, 250, 239), 24px, 400, 27px);
					}
					&:not(:last-child) {
						margin-bottom: 17px;
					}
				}
				.grid__block {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					p {
						text-transform: uppercase;
						@include textDefault($ff1, rgb(254, 250, 239), 26px, 700, 29px);
						text-align: left;
					}
					span {
						@include textDefault($ff1, rgb(254, 250, 239), 24px, 400, 29px);
						text-align: left;
					}
					a {
						@include textDefault($ff1, rgb(254, 250, 239), 24px, 400, 29px);
						text-align: left;
					}
				}
			}
			.grid__blocktext {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
}

//=======================================================================

.footer {
	width: 100%;
	background: #4c4a4a;
	border-top: 1px solid #000;
	&__content {
		margin-top: 110px;
		padding: 0 40px;
		@include flexbox;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 32px;
		&--politic {
			@include textDefault($ff1, rgb(254, 250, 239), 26px, 400, 29px);
			text-align: left;
		}
		&--links {
			a {
				text-transform: uppercase;
				@include textDefault($ff1, rgb(254, 250, 239), 20px, 400, 23px);
				text-align: center;
				padding: 10px 20px;
				box-sizing: border-box;
				border: 0.43px solid rgb(0, 0, 0);
				border-radius: 21.3px;
				background: rgb(50, 49, 49);
			}
			@include flexbox;
			gap: 50px;
		}
	}
}

//=======================================================================
